version: '3.9'

services:
  api:
    build: ./api
    ports:
      - '8000:8000'
    env_file:
      - .env
    depends_on:
      - db
  
  db:
    image: postgres:15
    env_file:
      - .env
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data: